<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<app-inputcity (cityEvent)="receiveCity($event)"></app-inputcity><br />

<div id="displayweather">
  <ng-container
    *ngIf="weather.length == 0; then thenTemplate; else elseTemplate"
  ></ng-container>

  <ng-template #thenTemplate>
    <div id="nodata">
      <div class="row" id="nanocontainer">
        <div class="card col-md-8 col-sm-8" id="nano">
          <table class="table-condensed">
            <tr>
              <td class="col-md-4 center">
                <strong><h3>No data to display</h3></strong>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #elseTemplate>
    <div id="currentweather">
      <app-displaycurrentweather
        [currentweather]="weather"
      ></app-displaycurrentweather>
    </div>

    <div id="weatherarray">
      <div *ngFor="let item of weatherarray">
        <app-displayweather [weatherdataarray]="item"></app-displayweather>
      </div>
    </div>
  </ng-template>
</div>

<app-footer></app-footer>

<router-outlet></router-outlet>
